<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Ghost</a>
  </div>
  <div class="nav-navbar">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "메인", root_path %>
      </li>
    </ul>
  </div>
</nav>
